/* Profilpanel megnyitása animációval */
.profile-panel {
    position: fixed; 
    top: 0; 
    right: -450px; 
    width: 450px;
    height: 100%;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2); 
    z-index: 2000; 
    overflow-y: auto;
    transition: right 0.3s ease;
}

.profile-panel.open {
    right: 0; 
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.profile-header .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: black;
}

.profile-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: black;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.profile-content {
    padding: 30px;
    flex: 1;
}

.profile-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.profile-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.profile-content ul li {
    margin-bottom: 10px;
    padding: 5px;
}

.profile-content ul li a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

.profile-content ul li a:hover {   
    color: rgb(40, 148, 236);
    transition: 0.3s;
    font-size: 17px;
}

.profile-content ul li a i {
    margin-right: 10px;
}

.logout-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.logout-btn:hover {
    background-color: darkred;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#upload-image-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#upload-image-btn:hover {
    background-color: #e0e0e0;
    border-color: #999;
}

#upload-image-btn i {
    font-size: 16px;
    color: #555;
}
