 <!-- Bejelentkezés utáni profil  -->
 <div id="profile-panel" class="profile-panel">
    <div class="profile-header">
        <img src="avatar.jpg" alt="Profile Icon" class="profile-image" id="profile-image">
        <input type="file" id="profile-image-input" accept="image/*" style="display: none;">
        <button id="upload-image-btn">
            <i class="fa fa-upload"></i> Change Profile Picture
        </button>
        <h2>USERNAME</h2>
        <span id="close-profile-panel" class="close-btn">&times;</span>
    </div>
    <div class="profile-content">
        <h3>WELCOME</h3>
        <ul>
            <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#about"><i class="fa fa-user"></i> About</a></li>
            <li><a href="./Carsoldal/cars.html"><i class="fa fa-car"></i> Cars</a></li>
            <li><a href="./ReservationOldal/reservation.html"><i class="fa fa-calendar"></i> Reservation</a></li>
            <li><a href="#"><i class="fa fa-adjust"></i> Light / Dark</a></li>
        </ul>
        <hr>
        <button class="logout-btn">Log Out</button>
    </div>
</div>
