<!-- <div id="overlay" class="overlay"></div>
    <div id="login-panel" class="login-panel">
        <div class="login-header">
            <h2>LOGIN</h2>
            <span id="close-login-panel" class="close-btn">&times;</span>
        </div>
        <form>
            <div class="form-group">
                <label for="email">
                    <i class="fa fa-envelope"></i> Email:
                </label>
                <input type="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">
                    <i class="fa fa-key"></i> Password:
                </label>
                <input type="password" id="password" placeholder="Password">
            </div>
            <a href="#" class="forgot-password">Forgot Password?</a>
            <button type="submit" class="btn login-btn">Log In</button>
            <button type="button" class="btn create-account-btn">Create Account</button>
        </form>
    </div> -->
