<div *ngIf="isVisible">
  <div id="overlay" class="overlay" (click)="closePanel()"></div>
  <div id="login-panel" class="login-panel" [class.active]="isVisible" (click)="$event.stopPropagation()">
    <div class="login-header">
      <h2>LOGIN</h2>
      <span id="close-login-panel" class="close-btn" (click)="closePanel()">&times;</span>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      
      <!-- Email mező -->
      <div class="form-group">
        <label for="email"><i class="fa fa-envelope"></i> Email:</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          [class.error]="email?.invalid && (email?.touched || email?.dirty)"
        />
        <div class="error-message" *ngIf="email?.invalid && (email?.touched || email?.dirty)">
          <p *ngIf="email?.errors?.['required']">Email is required</p>
          <p *ngIf="email?.errors?.['email']">Invalid email format</p>
        </div>
      </div>

      <!-- Password mező -->
      <div class="form-group">
        <label for="password"><i class="fa fa-key"></i> Password:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Password"
          [class.error]="password?.invalid && (password?.touched || password?.dirty)"
        />
        <div class="error-message" *ngIf="password?.invalid && (password?.touched || password?.dirty)">
          <p *ngIf="password?.errors?.['required']">Password is required</p>
          <p *ngIf="password?.errors?.['minlength']">Password must be at least 8 characters long</p>
          <p *ngIf="password?.errors?.['maxlength']">Password cannot exceed 20 characters</p>
        </div>
      </div>
      <a href="#" class="forgot-password">Forgot Password?</a>
      <br>
      <!-- Log In gomb -->
      <button type="submit" class="btn login-btn" [disabled]="loginForm.invalid">Log In</button>
      <button type="button" class="btn create-account-btn" (click)="onCreateAccountClick()">Create Account</button>
    </form>
  </div>
</div>
