<div id="profile-panel" class="profile-panel">
  <div class="profile-header">
    <img
      src="avatar.jpg"
      alt="Profile Icon"
      class="profile-image"
      id="profile-image"
    />
    <h2>USERNAME</h2>
    <span id="close-profile-panel" class="close-btn">&times;</span>
  </div>
  <div class="profile-image-selection">
    <h3>Válassz profilképet:</h3>
    <img
      src="pepega_almos.png"
      alt="Pepega 1"
      class="profile-option"
      data-image="pepega_almos.png"
    />
    <img
      src="pepega_fizet.gif"
      alt="Pepega 2"
      class="profile-option"
      data-image="pepega_fizet.gif"
    />
    <img
      src="pepega_fogyatek.png"
      alt="Pepega 3"
      class="profile-option"
      data-image="pepega_fogyatek.png"
    />
    <img
      src="pepega_izgul.jpg"
      alt="Pepega 4"
      class="profile-option"
      data-image="pepega_izgul.jpg"
    />
    <img
      src="pepega_ordibal.png"
      alt="Pepega 5"
      class="profile-option"
      data-image="pepega_ordibal.png"
    />
    <img
      src="pepega_szomoru.jpg"
      alt="Pepega 6"
      class="profile-option"
      data-image="pepega_szomoru.jpg"
    />
    <img
      src="pepega_vidam.jpg"
      alt="Pepega 7"
      class="profile-option"
      data-image="pepega_vidam.jpg"
    />
    <img
      src="pepega_zenethallgat.png"
      alt="Pepega 8"
      class="profile-option"
      data-image="pepega_zenethallgat.png"
    />
  </div>
  <div class="profile-content">
    <h3>WELCOME</h3>
    <ul>
      <li>
        <a href="#home"><i class="fa fa-home"></i> Home</a>
      </li>
      <li>
        <a href="#about"><i class="fa fa-user"></i> About</a>
      </li>
      <li>
        <a href="../cars/cars.component.html"><i class="fa fa-car"></i> Cars</a>
      </li>
      <li>
        <a href="..//reservation/reservation.component.html"
          ><i class="fa fa-calendar"></i> Reservation</a
        >
      </li>
      <li>
        <a href="#"><i class="fa fa-adjust"></i> Light / Dark</a>
      </li>
    </ul>
    <hr />
    <button class="logout-btn">Log Out</button>
  </div>
</div>
