<div *ngIf="isVisible">
    <div id="overlay" class="overlay" (click)="closePanel()"></div>
    <div id="register-panel" class="register-panel open" (click)="$event.stopPropagation()">
    <div class="register-header">
        <h2>Register</h2>
        <span id="close-register-panel" class="close-btn" (click)="closePanel()">&times;</span>
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="register-email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="register-password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" placeholder="Confirm Password">
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <button type="submit" class="btn register-create-account-btn" disabled>Create Account</button>
        <button type="button" class="btn login-btn">Back to Login</button>
    </form>
</div>
<div *ngIf="isVisible"></div>
