<!-- <div id="register-panel" class="register-panel" [class.open]="isOpen">
    <div class="register-header">
      <h2>Register</h2>
      <span id="close-register-panel" class="close-btn" (click)="closePanel()">&times;</span>
    </div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" (blur)="onBlur('username')" (input)="onInput()">
        <p *ngIf="usernameError" style="color:red;font-size:14px;">{{ usernameError }}</p>
      </div>
      <div class="form-group">
        <label for="register-email">Email:</label>
        <input type="email" id="register-email" [(ngModel)]="email" name="email" (blur)="onBlur('registerEmail')" (input)="onInput()">
        <p *ngIf="registerEmailError" style="color:red;font-size:14px;">{{ registerEmailError }}</p>
      </div>
      <div class="form-group">
        <label for="register-password">Password:</label>
        <input type="password" id="register-password" [(ngModel)]="password" name="registerPassword" (blur)="onBlur('registerPassword')" (input)="onInput()">
        <p *ngIf="registerPasswordError" style="color:red;font-size:14px;">{{ registerPasswordError }}</p>
      </div>
      <div class="form-group">
        <label for="personal-id">Personal-ID:</label>
        <input type="text" id="personal-id" [(ngModel)]="personalId" name="personalId" (blur)="onBlur('personalId')" (input)="onInput()">
        <p *ngIf="personalIdError" style="color:red;font-size:14px;">{{ personalIdError }}</p>
      </div>
      <button type="submit" class="btn register-create-account-btn" [disabled]="!isValid">Create Account</button>
      <button type="button" class="btn login-btn" (click)="switchToLogin()">Back To Login</button>
    </form>
  </div>
  <div id="overlay" class="overlay" [class.show]="isOpen" (click)="closePanel()"></div>
   -->