<app-navbar></app-navbar>
<app-login></app-login>
<app-profile-panel></app-profile-panel>
<app-register></app-register>
<div class="container reservation-container">
  <div
    *ngIf="showDeleteNotification"
    class="notification-bar"
    [class.error]="isDeleteError"
  >
    {{ deleteNotificationMessage }}
  </div>
  <div *ngIf="showSnackbar" class="notification-bar">
    {{ snackbarMessage }}
    <p class="close-alert">Köszönjük a foglalását!</p>
  </div>
  <div class="step">
    <div
      [class.active]="currentStep === 1"
      [class.completed]="isReservationConfirmedStepActive"
    >
      1 Foglalás megerősítése
    </div>
    <div
      [class.active]="currentStep === 2"
      [class.completed]="isReservationSentStepCompleted"
    >
      2 Foglalás elküldve
    </div>
  </div>
  <h2 class="reservation-title">A Foglalás megerősítése</h2>
  <br />
  <div class="main">
    <div
      class="login-section"
      *ngIf="!isLoggedIn && !isReservationSentStepCompleted"
    >
      <h3>Jelentkezz be vagy regisztrálj a foglalásért!</h3>
      <div class="btn-group">
        <button class="btn" (click)="openRegisterPanel()">
          Create Account
        </button>
        <button class="btn" (click)="openLoginPanel()">Login</button>
      </div>
      <button
        class="continue-btn"
        (click)="goToNextStep()"
        [disabled]="!isLoggedIn || !selectedCar"
      >
        Tovább
      </button>
    </div>

    <div
      class="car-details-confirmed"
      *ngIf="selectedCar && isReservationSentStepCompleted"
    >
      <h3>A lefoglalt jármű</h3>
      <img
        [src]="selectedCar.image || carImage"
        alt="{{ selectedCar.brand }} {{ selectedCar.model }}"
      />
      <div class="details">
        <p>Márka: {{ selectedCar.brand }}</p>
        <p>Modell: {{ selectedCar.model }}</p>
      </div>
    </div>

    <div
      class="confirmation-message-section"
      *ngIf="isReservationSentStepCompleted"
    >
      <h3>Köszönjük a foglalását!</h3>
      <p>Foglalását rögzítettük.</p>
      <p>
        Amennyiben szeretné visszavonni a foglalását, kérjük, vegye fel velünk a
        kapcsolatot.
      </p>
      <button
        class="delete-button centered-delete-button"
        (click)="deleteReservation()"
      >
        Rendelés törlése
      </button>
    </div>

    <div
      class="car-info"
      *ngIf="
        !selectedCar &&
        isLoggedIn &&
        !isReservationSentStepCompleted &&
        hasAvailableCars
      "
    >
      <h3 style="padding: 20px">
        A Cars oldalon kiválasztott autód adatai itt fognak megjelenni.
      </h3>
      <p style="padding-bottom: 10px; justify-content: center; display: flex">
        Kérlek, menj a Cars oldalra és válassz egy autót a foglaláshoz!
      </p>
      <button class="btn" routerLink="/cars">Ugrás a Cars oldalra</button>
    </div>
    <div
      class="car-info"
      *ngIf="
        !selectedCar &&
        !isLoading &&
        !hasAvailableCars &&
        !isReservationSentStepCompleted
      "
    >
      <h3>Jelenleg nincsenek elérhető autók a foglaláshoz.</h3>
    </div>
    <div *ngIf="isLoading && !isReservationSentStepCompleted" class="car-info">
      <p>Itt fog megjelenni a kiválasztott autó...</p>
    </div>

    <div
      class="car-info confirm-section"
      *ngIf="selectedCar && !isReservationSentStepCompleted"
    >
      <h3>Jármű</h3>
      <img
        [src]="selectedCar.image || carImage"
        alt="{{ selectedCar.brand }} {{ selectedCar.model }}"
      />
      <div class="details">
        <p>Márka: {{ selectedCar.brand }}</p>
        <p>Modell: {{ selectedCar.model }}</p>
      </div>
      <div class="rental-location"></div>
      <div class="details">
        <p>Felvétel: Csak helybe!</p>
        <p>Leadás: Csak helybe!</p>
      </div>
      <h3>Összesen:</h3>
      <p>Ügyfélszolgálati pultnál fizetendő</p>
      <button class="reservation-button" (click)="confirmReservation()">
        Lefoglalom
      </button>
    </div>
  </div>
</div>
<div
  id="loader-overlay"
  class="loader-overlay"
  [style.display]="isLoading ? 'flex' : 'none'"
>
  <div class="loader"></div>
</div>
