/* footer beállitása */
.footer {
    background-color: #000; 
    color: #fff; 
    padding: 40px 20px;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.footer-container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
}

.footer-section {
    flex: 1; 
    min-width: 250px; 
    max-width: 300px;
}

.footer-section h3 {
    display: flex;
    align-items: center; 
    font-size: 18px; 
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.horizontal {
    margin-left: 20px;
}

.footer-section .aligned-text {
    margin-left: 20px; 
    text-align: justify; 
    color: #ddd; 
    line-height: 1.3; 
}

.footer-section p {
    font-size: 14px; 
    line-height: 1.6; 
    margin-bottom: 10px;
}


.footer-section a {
    color: #fff; 
    font-size: 14px;
    text-decoration: none;
}

.footer-section a i {
    font-size: 14px;; 
    margin-right: 8px; 
    color: #fff;
}

.footer-section a:hover {
    color: #007bff;
    transition: 0.5s;
}