<div class="navbar">
  <div class="container">
    <img
      src="logo for the website.webp"
      alt="Best Car Rental Logo"
      class="logo"
      id="logo"
    />
    <nav>
      <ul class="nav-links">
        <li>
          <a
            [routerLink]="['/']"
            fragment="home"
            class="home-link"
            id="home-link"
            >Home</a
          >
        </li>
        <li><a [routerLink]="['/']" fragment="about">About</a></li>
        <li><a [routerLink]="['/cars']">Cars</a></li>
        <li>
          <a [routerLink]="['/reservation']">Reservations</a>
        </li>
      </ul>
    </nav>
    <button class="login-btn" (click)="openLoginPanel()" *ngIf="!isLoggedIn">
      Login
    </button>
    <img
      src="{{ profileImageUrl || 'profile icon.webp' }}"
      alt="Profile Icon"
      id="profile-icon"
      style="
        width: 40px;
        height: 40px;
        border-radius: 30%;
        margin-right: 20px;
        cursor: pointer;
      "
      (click)="openProfilePanel()"
      *ngIf="isLoggedIn"
    />
  </div>
</div>
<div
  id="overlay"
  class="overlay"
  (click)="closeOverlay()"
  [style.display]="
    showLoginPanel || showRegisterPanel || showProfilePanel ? 'block' : 'none'
  "
></div>
<div
  id="login-panel"
  class="login-panel"
  [style.display]="showLoginPanel ? 'block' : 'none'"
>
  <div class="login-header">
    <h2>LOGIN</h2>
    <span id="close-login-panel" class="close-btn" (click)="closeLoginPanel()"
      >&times;</span
    >
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <div class="form-group">
      <label for="email"><i class="fa fa-envelope"></i> Email:</label>
      <input
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <div
        *ngIf="
          loginForm.controls['email'].invalid &&
          (loginForm.controls['email'].dirty ||
            loginForm.controls['email'].touched)
        "
      >
        <div *ngIf="loginForm.controls['email'].errors?.['required']">
          Email cím megadása kötelező.
        </div>
        <div *ngIf="loginForm.controls['email'].errors?.['email']">
          Érvényes email címet adj meg.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password"><i class="fa fa-key"></i> Password:</label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        formControlName="password"
      />
      <div
        *ngIf="
          loginForm.controls['password'].invalid &&
          (loginForm.controls['password'].dirty ||
            loginForm.controls['password'].touched)
        "
      >
        <div *ngIf="loginForm.controls['password'].errors?.['required']">
          Jelszó megadása kötelező.
        </div>
      </div>
    </div>
    <div *ngIf="loginErrorMessage" class="error-message">
      {{ loginErrorMessage }}
    </div>
    <a [routerLink]="['/forgot-password']" class="forgot-password"
      >Forgot Password?</a
    >
    <button type="submit" class="btn login-btn" [disabled]="loginForm.invalid">
      Log In
    </button>
    <button
      type="button"
      class="btn create-account-btn"
      (click)="openRegisterPanel()"
    >
      Create Account
    </button>
  </form>
</div>
<div
  id="register-panel"
  class="register-panel"
  [style.display]="showRegisterPanel ? 'block' : 'none'"
>
  <div class="register-header">
    <h2>Register</h2>
    <span
      id="close-register-panel"
      class="close-btn"
      (click)="closeRegisterPanel()"
      >&times;</span
    >
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        placeholder="Username"
        formControlName="username"
      />
      <div
        *ngIf="
          registerForm.controls['username'].invalid &&
          (registerForm.controls['username'].dirty ||
            registerForm.controls['username'].touched)
        "
      >
        <div *ngIf="registerForm.controls['username'].errors?.['required']">
          Felhasználónév megadása kötelező.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="register-email"
        placeholder="Email"
        formControlName="email"
      />
      <div
        *ngIf="
          registerForm.controls['email'].invalid &&
          (registerForm.controls['email'].dirty ||
            registerForm.controls['email'].touched)
        "
      >
        <div *ngIf="registerForm.controls['email'].errors?.['required']">
          Email cím megadása kötelező.
        </div>
        <div *ngIf="registerForm.controls['email'].errors?.['email']">
          Érvényes email címet adj meg.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="register-password"
        placeholder="Password"
        formControlName="password"
      />
      <div
        *ngIf="
          registerForm.controls['password'].invalid &&
          (registerForm.controls['password'].dirty ||
            registerForm.controls['password'].touched)
        "
      >
        <div *ngIf="registerForm.controls['password'].errors?.['required']">
          Jelszó megadása kötelező.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="personal-id">Personal-ID:</label>
      <input
        type="text"
        id="personal-id"
        placeholder="personal-id"
        formControlName="personalId"
      />
      <div
        *ngIf="
          registerForm.controls['personalId'].invalid &&
          (registerForm.controls['personalId'].dirty ||
            registerForm.controls['personalId'].touched)
        "
      >
        <div *ngIf="registerForm.controls['personalId'].errors?.['required']">
          Személyi azonosító megadása kötelező.
        </div>
      </div>
    </div>
    <div *ngIf="registerErrorMessage" class="error-message">
      {{ registerErrorMessage }}
    </div>
    <a [routerLink]="['/forgot-password']" class="forgot-password"
      >Forgot Password?</a
    >
    <button
      type="submit"
      class="btn register-create-account-btn"
      [disabled]="registerForm.invalid"
    >
      Create Account
    </button>
    <button type="button" class="btn login-btn" (click)="openLoginPanel()">
      Back To Login
    </button>
  </form>
</div>
<div
  id="profile-panel"
  class="profile-panel"
  [ngClass]="{ open: showProfilePanel }"
>
  <div class="profile-header">
    <img
      src="{{ profileImageUrl || 'profile icon.webp' }}"
      alt="Profile Icon"
      class="profile-image"
    />
    <h2>{{ userName }}</h2>
    <span
      id="close-profile-panel"
      class="close-btn"
      (click)="closeProfilePanel()"
      >&times;</span
    >
  </div>
  <div class="profile-image-selection">
    <h3>Válassz profilképet:</h3>
    <img
      src="pepega_almos.png"
      alt="Pepega 1"
      class="profile-option"
      data-image=".pepega_almos.png"
    />
    <img
      src="pepega_fizet.gif"
      alt="Pepega 2"
      class="profile-option"
      data-image=".pepega_fizet.gif"
    />
    <img
      src="pepega_fogyatek.png"
      alt="Pepega 3"
      class="profile-option"
      data-image=".pepega_fogyatek.png"
    />
    <img
      src="pepega_izgul.jpg"
      alt="Pepega 4"
      class="profile-option"
      data-image=".pepega_izgul.jpg"
    />
    <img
      src="pepega_ordibal.png"
      alt="Pepega 5"
      class="profile-option"
      data-image=".pepega_ordibal.png"
    />
    <img
      src="pepega_szomoru.jpg"
      alt="Pepega 6"
      class="profile-option"
      data-image=".pepega_szomoru.jpg"
    />
    <img
      src="pepega_vidam.jpg"
      alt="Pepega 7"
      class="profile-option"
      data-image=".pepega_vidam.jpg"
    />
    <img
      src="pepega_zenethallgat.png"
      alt="Pepega 8"
      class="profile-option"
      data-image=".pepega_zenethallgat.png"
    />
  </div>
  <div class="profile-content">
    <h3>WELCOME</h3>
    <ul>
      <li>
        <a [routerLink]="['/']" fragment="home"
          ><i class="fa fa-home"></i> Home</a
        >
      </li>
      <li>
        <a [routerLink]="['/']" fragment="about"
          ><i class="fa fa-user"></i> About</a
        >
      </li>
      <li>
        <a [routerLink]="['/cars']"><i class="fa fa-car"></i> Cars</a>
      </li>
      <li>
        <a [routerLink]="['/reservation']"
          ><i class="fa fa-calendar"></i> Reservation</a
        >
      </li>
      <li>
        <a href="#"><i class="fa fa-adjust"></i> Light / Dark</a>
      </li>
    </ul>
    <hr />
    <button class="logout-btn" (click)="logout()">Log Out</button>
  </div>
</div>
<div class="container">
  <aside class="sidebar">
    <h2>Filter</h2>
    <div class="filter-group">
      <h3>Brand</h3>
      <label
        ><input
          type="checkbox"
          id="Fiat"
          name="Fiat"
          (change)="updateFilter('brand', 'Fiat', $event)"
        />
        Fiat</label
      >
      <label
        ><input
          type="checkbox"
          id="Honda"
          name="Honda"
          (change)="updateFilter('brand', 'Honda', $event)"
        />
        Honda</label
      >
      <label
        ><input
          type="checkbox"
          id="Volkswagen"
          name="Volkswagen"
          (change)="updateFilter('brand', 'Volkswagen', $event)"
        />
        Volkswagen</label
      >
      <label
        ><input
          type="checkbox"
          id="Volvo"
          name="Volvo"
          (change)="updateFilter('brand', 'Volvo', $event)"
        />
        Volvo</label
      >
      <label
        ><input
          type="checkbox"
          id="Toyota"
          name="Toyota"
          (change)="updateFilter('brand', 'Toyota', $event)"
        />
        Toyota</label
      >
    </div>
    <div class="filter-group">
      <h3>Persons</h3>
      <label
        ><input
          type="checkbox"
          id="9"
          name="9"
          (change)="updateFilter('persons', '9', $event)"
        />
        9</label
      >
      <label
        ><input
          type="checkbox"
          id="7"
          name="7"
          (change)="updateFilter('persons', '7', $event)"
        />
        7</label
      >
      <label
        ><input
          type="checkbox"
          id="5"
          name="5"
          (change)="updateFilter('persons', '5', $event)"
        />
        5</label
      >
    </div>
    <div class="filter-group">
      <h3>Price</h3>
      <label
        ><input
          type="checkbox"
          id="10€-30€"
          name="10€-30€"
          (change)="updateFilter('price', '10€-30€', $event)"
        />
        10€ - 30€</label
      >
      <label
        ><input
          type="checkbox"
          id="30€-50€"
          name="30€-50€"
          (change)="updateFilter('price', '30€-50€', $event)"
        />
        30€ - 50€</label
      >
      <label
        ><input
          type="checkbox"
          id="50€-61€"
          name="50€-61€"
          (change)="updateFilter('price', '50€-61€', $event)"
        />
        50€ - 61€</label
      >
      <label
        ><input
          type="checkbox"
          id="61€-85€"
          name="61€-85€"
          (change)="updateFilter('price', '61€-85€', $event)"
        />
        61€ - 85€</label
      >
    </div>
    <div class="filter-group">
      <h3>Year</h3>
      <label
        ><input
          type="checkbox"
          id="2018"
          name="2018"
          (change)="updateFilter('year', '2018', $event)"
        />
        2018</label
      >
      <label
        ><input
          type="checkbox"
          id="2019"
          name="2019"
          (change)="updateFilter('year', '2019', $event)"
        />
        2019</label
      >
      <label
        ><input
          type="checkbox"
          id="2020"
          name="2020"
          (change)="updateFilter('year', '2020', $event)"
        />
        2020</label
      >
      <label
        ><input
          type="checkbox"
          id="2021"
          name="2021"
          (change)="updateFilter('year', '2021', $event)"
        />
        2021</label
      >
      <label
        ><input
          type="checkbox"
          id="2022"
          name="2022"
          (change)="updateFilter('year', '2022', $event)"
        />
        2022</label
      >
    </div>
    <div class="filter-group">
      <h3>Fuel</h3>
      <label
        ><input
          type="checkbox"
          id="Petrol"
          name="Petrol"
          (change)="updateFilter('fuel', 'Petrol', $event)"
        />
        Petrol</label
      >
      <label
        ><input
          type="checkbox"
          id="Diesel"
          name="Diesel"
          (change)="updateFilter('fuel', 'Diesel', $event)"
        />
        Diesel</label
      >
      <label
        ><input
          type="checkbox"
          id="Hybrid"
          name="Hybrid"
          (change)="updateFilter('fuel', 'Hybrid', $event)"
        />
        Hybrid</label
      >
    </div>
    <button class="reset-filters-btn" (click)="resetFilters()">
      Reset Filters
    </button>
  </aside>
  <main class="main-content">
    <h1>Cars</h1>
    <div class="arrangement">
      <label for="arrange"> Arrangement:</label>
      <select id="arrange" (change)="onArrangementChange($event)">
        <option value="none">None</option>
        <option value="price">Increases by price</option>
        <option value="price-desc">Descending by price</option>
      </select>
    </div>
    <div class="cars-grid">
      <div *ngFor="let car of filteredCars" class="car-card">
        <img [src]="car.image" [alt]="car.brand + ' ' + car.model" />
        <h3>{{ car.brand }} {{ car.model }}</h3>
        <button class="details-btn" (click)="toggleDetails(car.id)">
          Check out our car
        </button>
        <div
          class="details-panel"
          [ngClass]="{ active: selectedCarId === car.id }"
        >
          <div class="details">
            <div><i class="fas fa-car"></i> {{ car.details.doors }} doors</div>
            <div>
              <i class="fas fa-gas-pump"></i> {{ car.details.fuelType }}
            </div>
            <div>
              <i class="fas fa-cogs"></i> {{ car.details.transmission }}
            </div>
            <div *ngIf="car.details.airConditioning">
              <i class="fas fa-snowflake"></i> AC
            </div>
            <div>
              <i class="fas fa-user-friends"></i> {{ car.details.seats }} seats
            </div>
          </div>
          <div class="price">{{ car.price }}€ / Day</div>
          <button class="reserve-btn" (click)="onReservationClick(car)">
            Reservation
          </button>
        </div>
      </div>
    </div>
    <div class="pagination">
      <button disabled>Prev</button>
      <button class="active">1</button>
      <button>2</button>
      <button>Next</button>
    </div>
  </main>
</div>
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="horizontal">Best Car Rental</h3>
      <p class="aligned-text">
        We are a trusted car rental company dedicated to providing reliable
        vehicles and exceptional service to meet all your travel needs. Explore
        hassle-free rentals with flexible options and competitive rates.
      </p>
    </div>
    <div class="footer-section">
      <h3>Take it up with us connection</h3>
      <p><i class="fas fa-address-book"></i> Contact</p>
      <p><i class="fas fa-phone"></i> 06/20 123 4567</p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="https://mail.google.com/mail/u/1/" target="_blank">
          bestcarrentalmadeinhungary"&#64;"gmail.com</a
        >
      </p>
    </div>
    <div class="footer-section">
      <h3>Who are we?</h3>
      <a [routerLink]="['/']" fragment="about"
        ><i class="fas fa-info-circle"></i> About</a
      >
    </div>
    <div class="footer-section">
      <h3>Follow us!</h3>
      <p>
        <a
          href="https://www.facebook.com/profile.php?id=100010122408583&locale=hu_HU"
          target="_blank"
        >
          <i class="fab fa-facebook"></i> Facebook</a
        >
      </p>
      <p>
        <a href="https://www.instagram.com/timar._david/" target="_blank">
          <i class="fab fa-instagram"></i> Instagram</a
        >
      </p>
      <p>
        <a href="https://x.com/home" target="_blank">
          <i class="fab fa-twitter"></i> Twitter</a
        >
      </p>
    </div>
  </div>
</footer>

<div id="loader-overlay" class="loader-overlay" style="display: none">
  <div class="loader"></div>
</div>
