<!-- Footer rész-->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="horizontal">Best Car Rental</h3>
      <p class="aligned-text">
        We are a trusted car rental company dedicated to providing reliable
        vehicles and exceptional service to meet all your travel needs. Explore
        hassle-free rentals with flexible options and competitive rates.
      </p>
    </div>
    <div class="footer-section">
      <h3>Take it up with us connection</h3>
      <p><i class="fas fa-address-book"></i> Contact</p>
      <p><i class="fas fa-phone"></i> 06/20 123 4567</p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="https://mail.google.com/mail/u/1/" target="_blank"
          >bestcarrentalmadeinhungary&#64;gmail.com</a
        >
      </p>
    </div>
    <div class="footer-section">
      <h3>Who are we?</h3>
      <a href="#about"> <i class="fas fa-info-circle"></i> About </a>
    </div>
    <div class="footer-section">
      <h3>Follow us!</h3>
      <p>
        <a
          href="https://www.facebook.com/profile.php?id=100010122408583&locale=hu_HU"
          target="_blank"
        >
          <i class="fab fa-facebook"></i> Facebook
        </a>
      </p>
      <p>
        <a href="https://www.instagram.com/timar._david/" target="_blank">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </p>
      <p>
        <a href="https://x.com/home" target="_blank">
          <i class="fab fa-twitter"></i> Twitter
        </a>
      </p>
    </div>
  </div>
</footer>
